<div class="offset-lg-2 col-lg-6 mb-4">
  <div class="card border-0 box-shadow" widget="">
    <div class="card-header transparent border-0 text-muted">
      <h5>{{title}}</h5>
    </div>
    <div class="card-body widget-body">
      <div novalidate="" class="ng-untouched ng-pristine ng-valid">
        <div class="form-group"><input class="form-control" placeholder="Name" type="text" [(ngModel)]="model.name">
        </div>
        <button class="btn btn-success" type="submit" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>
